
.auth_main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    border-radius: 6px;
    width: 100vw;

    
    
}
.auth_form{
width: 400px;
background-color: white;
padding: 30px;
border-radius: 5px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.auth_item{
    display: flex;
    flex-direction: column;
}
.auth_item label{
    color: grey;
    font-size: 14px;
    font-weight: 500;

}
.auth_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.auth_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.auth_header svg{
    font-size: 35px;
    padding: 0.2rem;
    border-radius: 5px;
}
.auth_heading{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
}
.auth_title{
    font-size: 14px;
    font-weight: 500;
    color: grey;

}
.auth_options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
}
.auth_options a{
    text-decoration: none;
    color: #165ef0;
}